* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: rgb(5, 83, 5);
}

body {
  overflow-x: hidden;
}

/* Utility*/

.strong {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}

.text-left-align {
  text-align: left;
}
.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

.my-2 {
  margin: 20px 0;
}

.my-3 {
  margin: 20px 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
}

.primary-color {
  color: var(--primary-color);
}

.text-align-center {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.btn-small {
  padding: 10px 20px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.block {
  display: inline-block;
}
